:root {
  --body-bg: #181717;
  --text: #dfbc82;
  --underline: #b37849;
  --head-font: 'Source Serif Pro', serif;
  --text-font: 'Open Sans', sans-serif;
  --wrapper-width: 1150px;
  --wrapper-margin: auto;
}
